*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    overflow: hidden;
    
}

.hero{
    background-image: url(Pictures/car-shampoo.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
   
    
    
}

.vid{
    padding-top: 100;
    align-items: center;
    padding-left: 285;
   
}



button{
    color: #fbfcfd;
    padding: 10px 25px;
    background: transparent;
    border: 1px solid #fff;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    
    
    
    
}

button:hover{
    background: #3A98DC;
    transition: 1s;
    
}

.back-btn{
    padding-left: 285;
    padding-top: 5;
}

@media(max-width:705px)
{
   .vid{
    padding-top: 50;
    align-items: left;
    padding-left: 0;
   
}
    
    .back-btn{
    padding-left: 0;
    align-content: center;
    padding-top: 5;
}

}
